@font-face {
  font-family: 'MyFont';
  src: url('./NanumSquareOTFEB00.woff2') format('woff2'),
    url('./NanumSquareOTFR00.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./logo.png');
  }